.contactsection{
   
        background-color: whitesmoke;
        width: 100%;
        margin: 0 auto;
        padding-top: 8rem;
        padding-bottom: 8rem;
    
}

.text1,.text2,.text3{
    background-color: #E6F1FF;
}

.submitdiv{
    background-color: #0A192F;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10rem; 
    padding-top: 10rem; 
}

