.aboutsection{    
    width: 100%;
    margin: 0 auto;
    padding-bottom:8rem;
    padding-top:2rem;    
}

@media screen and (max-width: 400px) {
    .aboutsection {
        padding-bottom:40rem;
        padding-top:4rem;
    }
  }

  @media screen and (min-width: 400px) and (max-width: 750px) {
    .aboutsection {
        padding-bottom:20rem;
        padding-top:4rem;
    }
  }