.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 100%;
}

.sidebar ul {
  margin: 0;
  padding: 0;
}
.sidebar li {
  list-style: none;
  text-decoration: none;
  padding: 10px;
  display: block;
  color: #fff;
}
.link:hover {
  color: #64ffda;
}

.link:link {
  color: #64ffda;
}
.link:visited {
  color: #64ffda;
}
.vertical-line {
  display: block;
  border-left: 1px solid #ccc;
  margin: 0 22px;
  height: 45vh;
}

@media screen and (max-width: 1000px) {
  .vertical-line {
    visibility: hidden;
  }
}