.worksection{    
    width: 100%;
    margin: 0 auto;
    padding-bottom:18rem;
    padding-top:14rem;    
}

@media screen and (max-width: 400px) {
    .worksection {
        padding-bottom:50rem;
        padding-top:20rem;
    }
  }

  @media screen and (min-width: 400px) and (max-width: 750px) {
    .worksection {
        padding-bottom:20rem;
        padding-top:12rem;
    }
  }

